.copyright-col {
    display: inline-block;
    height: 87vh;
    position: relative;
    width: 10rem;
}

.copyright-col__text {
    bottom: 1rem;
    left: .3rem;
    color: $off-white;
    letter-spacing: .5rem;
    position: absolute;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}