.contactpage {
    display: none;
}

form {
    margin-right: 3rem;
    h2, h3 {
        font-size: 1.5rem;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase
    }
    input {
        background: $off-black;
        color: $off-white;
        border: none;
        border-bottom: 1px solid $off-white;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
    textarea {
        background: $off-black;
        color: $off-white;
        border: none;
        border-bottom: 1px solid $off-white;
        display: block;
        resize: none;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
    h3 {
        display: inline-block;
        padding-top: 1.7rem;
        @include underline;
    }
}

// ************* ************* //
//        TABLET STYLES        //
// ************* ************* //

@media (max-width: $mobile) {
    .contactpage {
        .grey-box {
            display: none;
        }
    }
}