// grid
.homepage__grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1.5fr 6fr 4fr;
}

.homepage__links {
    padding: 7.4rem 0 0 0;
    .nav-links {
        @include subtitle;
        span {
            display: inline-block;
            opacity: 0;
            padding-bottom: 3rem;
            @include underline;
        }
    }
    div {
        margin-top: 1rem;
    }
}

@for $i from 1 through 4 {
    .nav-link-#{$i} {
        animation-name: fadein;
        animation-duration: (.3s * $i);
        animation-delay: (.4s * $i);
        // animation-delay: ($i + .8s);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }
}

.homepage__empty__col {
    display: none;
}

.slide__container {
    display: none;
}

.slide-img {
    display: none;
}

@media (max-width: $tablet) {
    .homepage__empty__col {
        display: block;
    }
    .homepage__grid {
        margin-top: 50px;
        grid-template-columns: .5fr 8fr 4fr;
        height: 100%;
        width: 100%;
    }   
}



// ************* ************* //
//        MOBILE STYLES        //
// ************* ************* //

@media (max-width: 500px) {
    .homepage__grid {
        grid-template-columns: 1fr;
        .title {
            font-size: 4.5rem;
        }
        .grey-box {
            height: 25rem;
        }
        .slide__container {
            min-height: 339px;
            height: 338px;
            position: relative;
            display: block;
        }

        .slide-img {
            position: absolute;
            top: -100px;
            max-width: 90vw;
            opacity: 1;
        }
    }
    .homepage__links {
        text-align: center;
        padding-bottom: 100px;
    }
}


// iphone 5 support
@media (max-width: 374px) {
    .homepage__grid {
        .title {
            font-size: 3.5rem;
        }
        .grey-box {
            height: 20rem;
            width: 13rem;
        }
    }
}