.project1-page {
    display: none;
}

.project2-page {
    display: none;
}

.project3-page {
    display: none;
}

.project4-page {
    display: none;
}

.project5-page {
    display: none;
}

.project6-page {
    display: none;
}

// grid
.workpage__grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 7fr 2fr;
}

.vidnotes-img {
    width: 150%;
    margin-left: -80px;
    margin-top: -20px;
    animation: fadein 2s ease 0s 1 normal forwards running;
}



.workpage__content {
    // margin-top: 7rem;
    position: block;
    display: grid;
    grid-template-columns: 2.5fr 4fr;
    .workpage__text {
        margin-top: 7rem;
        .subtitle {
            animation: fadein 1s, fromleftshort 1s;
            display: inline-block;
        }
        .title {
            animation: fadein 2s;
            line-height: 4rem;
        }
        p {
            opacity: 0;
            animation: fadein 2s ease 0s 1 normal forwards running;
            font-family: 'Playfair Display', serif;
            font-size: 1.1rem;
            font-weight: lighter;
            line-height: 1.6rem;
            padding: 1rem 8rem 0 0;
            // text-indent: 1em;
        }
    }
}

.workpage__projectlinks {
    animation: fadein 1s;
    text-align: right;
    padding: 3rem 8rem 0 0;
    span {
        opacity: 0;
        display: inline-block;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        @include underline;
    }
    a:link,
    a:hover,
    a:visited,
    a:active {
        text-decoration: none;
        color: white;
    }
}

@for $i from 1 through 2 {
    .codelink-#{$i} {
        animation-name: fadein;
        animation-duration: (.5s * $i);
        // animation-delay: (.7s * $i);
        animation-delay: ($i * .5s);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
}

.workpage__links {
    @include subtitle;
    font-size: 1rem;
    margin-top: 2.5rem;
    // width: 200px;
    span {
        display: inline-block;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        // padding-bottom: 1rem;
    }
    .projectlink {
        display: inline-block;
        letter-spacing: .1rem;
        opacity: 0;
        @include underline;
    }
    .arrow {
        cursor: pointer;
        font-size: 6rem;
    }
}

@for $i from 1 through 6 {
    .project-#{$i} {
        animation-name: fadein;
        animation-duration: (.3s * $i);
        // animation-delay: (.5s * $i);
        animation-delay: ($i * .3s);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
}

.navbar--tablet {
    display: none;
}



@media (max-width: $tablet) {
    .workpage__grid {
        grid-template-columns: 1fr;
        max-width: 100%;
        position: relative;
    }
    .workpage__content {
        grid-template-columns: 1fr 1fr;
        .workpage__text {
            p {
                padding: 1rem 6rem 0 0
            }
        }
    }
    .workpage__pictures {
        justify-self: center;
    }
    
    .workpage__links {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        .arrow {
            margin: 0;
        }
        .projectlink {
            display: none;
        }
        br {
            display: none;
        }
    }
    .copyright-col {
        display: none;
    }
    .logo--tablet {
        display: block;
    }
    .navbar--tablet {
        display: flex;
        justify-content: space-between;

    }
}