@keyframes fadein {
    0%     { opacity: 0; }
    10%    { opacity: 0.05; }
    100%   { opacity: 1; }
}

@keyframes fadeinfast {
    from  { opacity: 0; }
    to    { opacity: 1; }
}

@keyframes fromleft {
    
    from { margin-left: -6rem}
    to   { margin-left: inherit}
}

@keyframes fromleftshort {
    
    from { margin-left: -2rem}
    to   { margin-left: inherit}
}

@keyframes fromright {
    from { margin-left: 6rem}
    to   { margin-left: 0}
}